.privacy-policy-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5.5rem;
  }
  
  .privacy-policy-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .section p {
    color: #666;
  }
  
  .section a {
    color: #007bff;
    text-decoration: none;
  }
  
  .section a:hover {
    text-decoration: underline;
  }
  